{% extends 'base.html.twig' %}

{% block body %}
    <form action="" method="post">

        <div>
            <label>Nouvel Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <button type="submit">Enregistrer</button>
        </div>
    </form>
{% endblock %}